    .btn-xs {
        --bs-btn-padding-y: 0.25rem;
        --bs-btn-font-size: 0.7rem;
        --bs-btn-line-height: 1;
    }

    .btn-xl {
        --bs-btn-padding-y: 0.75rem;
        --bs-btn-font-size: 2rem;
        --bs-btn-line-height: 1.5;
    }