// Sans Serif
// Supports weights 300-900
@import '@fontsource-variable/figtree';

// Serif
// Supports weights 300-700
@import '@fontsource/zilla-slab';

// Monospace
// Supports weights 300-700
@import '@fontsource-variable/fira-code';