// Sans Serif
// Supports weights 100-900
@import '@fontsource-variable/outfit';

// Serif
// Supports weights 300-900
@import '@fontsource-variable/merriweather';

@import '@fontsource/zilla-slab';

// Monospace
// Supports weights 200-900
@import '@fontsource-variable/source-code-pro';
