[data-theme="default"] {
    /* --font-sans: "Outfit Variable", system-ui, -apple-system, "Segoe UI", sans-serif;
    --font-serif: "Merriweather Variable", serif;
    --font-mono: "Source Code Pro Variable", monospace; */
}