
.milkdown-wrapper .milkdown [contenteditable] {
    padding: 2rem;
}

.not-allowed-handle {
    cursor: not-allowed;
}

/* .milkdown-wrapper .milkdown [contenteditable]:focus {
  outline: 3px solid #f0f0f0;
} */
